<!doctype html>
<html lang="en">

<head>
  <title>Loggin de usuario</title>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS v5.2.1 -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">

</head>

<body>
    <br>
  <div class="container">
    <div class="row">
        <div class="col-md-4">
           <br>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    Inicio de sesion
                </div>
                <div class="card-body">
                   <form action="/admin/login" method="post">

                    <div class="mb-3">
                      <label for="" class="form-label">usuario</label>
                      <input type="text"
                        class="form-control" name="txtusuario" id="txtusuario" aria-describedby="helpId" placeholder="ingrese usuario">
                    </div>

                    <div class="mb-3">
                      <label for="" class="form-label">Contraseña </label>
                      <input type="text"
                        class="form-control" name="txtpassword" id="" type="password"  placeholder="escribe la contraseña">
                    </div>

                    <button type="submit" class="btn btn-primary">Ingresar</button>
                    <a href="registrar">Inscribirse</a>

                   </form>
                </div>
            </div>
        </div>     
    </div>
  </div>
</body>

</html>