{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del usuario
                </div>
                <div class="card-body">
                    
                    <form action="/admin/marcas/guardar" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="id" class="form-label">ID marca</label>
                            <input type="text" class="form-control" name="txtid" id="txtid" aria-describedby="helpId" placeholder="ingrese el id del prod">
                        <div class="mb-3">
                          <label for="nombreprod" class="form-label">Marca</label>
                          <input type="text" class="form-control" name="txtnommarca" id="txtnomusu" placeholder="ingrese nombre del producto">
                        </div>
                         
                          <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
        <div class="col-md-7">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Acciones</th>    
                        </tr>
                    </thead>
                    <tbody>
                        {%for marca in marcas%}
                        <tr class="">
                            <td scope="row">{{marca[0]}}</td>
                            <td scope="row">{{marca[1]}}</td>



                            <td>
                                    <form action="/admin/marcas/borrar" method="post">
                                        <input value="{{marca[0]}}" type="hidden" name="txtid" id="txtid">
                                        <button type="submit" class="btn btn-danger">Eliminar</button>
                                    </form>
                                    <br>
                                    <form action="/admin/marcas/actualizar" method="post">
                                        <input value="{{marca[0]}}" type="hidden" name="txtid" id="txtid">
                                        <button type="submit" class="btn btn-primary">Actualizar</button>
                                    </form>
                            </td>
                        </tr>
                        
                    </tbody>
                        {%endfor%}
                     
                    
                </table>
            </div>
        </div>
</div>

    



{% include 'admin/pie.html' %}