{% include 'admin/cabecera.html' %}
<br>
<div class="container">
    <div class="row">
        <div class="col-md-5">
            <div class="card">
                <div class="card-header">
                    Datos del usuario
                </div>
                <div class="card-body">
                    
                    <form action="/admin/usuarios/guardar" method="POST" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="id" class="form-label">ID usuario</label>
                            <input type="text" class="form-control" name="txtid" id="txtid" aria-describedby="helpId" placeholder="ingrese el id del prod">
                        <div class="mb-3">
                          <label for="nombreprod" class="form-label">Nombre de usuario</label>
                          <input type="text" class="form-control" name="txtnomusu" id="txtnomusu" placeholder="ingrese nombre del producto">
                        </div>
                          <div class="mb-3">
                            <label for="" class="form-label">Rol</label>
                            <select class="form-select form-select-lg" name="txtrolusuario" id="">
                                <option selected>Seleccionar</option>
                                <option value="Administrador">Administrador</option>
                                <option value="Empleado">Empleado</option>
                             
                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="contrasena" class="form-label">Contraseña</label>
                            <input type="text"
                              class="form-control" name="txtcontrasena" id="txtdescripcion" aria-describedby="helpId" placeholder="ingrese la descripcion">
  
                          </div>
                          
  
                          </div>
                          <div class="card-footer text-muted">
                        <button type="submit" class="btn btn-primary">Agregar</button>
                        </div>
                    </form>
                </div>
            </div>
           
        </div>
        <div class="col-md-7">
            <div class="table-responsive">
                <table class="table table-primary">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Rol</th>

                        
                            
                        </tr>
                    </thead>
                    <tbody>
                        {%for usuario in usuarios%}
                        <tr class="">
                            <td scope="row">{{usuario[0]}}</td>
                            <td>{{usuario[1]}}</td>
                            <td>{{usuario[2]}}</td>


                            <td>
                                
                            </td>
                            
                           
                        </tr>

                        {%endfor%}
                     
                    </tbody>
                </table>
            </div>
            
        </div>
        
    </div>
</div>



{% include 'admin/pie.html' %}